<div class="row">
    <div class="col-md-12" style="margin-bottom: 20px">
        <div ng-hide="poster.hideDrop" class="row drop-zone text-center" style="margin: 5px;padding: 5px; border: dashed 3px">
            <h3 ng-hide="poster.ready">DROP YOUR FILE</h3>
        </div>
        <form>
            <div class="form-group">
                <label for="upload-description">Description</label>
                <input ng-model="poster.description" type="text" class="form-control" id="upload-description" placeholder="Description">
            </div>
            <div class="form-group">
                <label for="upload-link">Link</label>
                <input type="text" ng-model="poster.link" class="form-control" id="upload-link" placeholder="Link">
            </div>
            <div class="form-group">
                <label for="upload-tags">Tags</label>
                <input type="text" class="form-control" ng-model="poster.tags" id="upload-tags" placeholder="Enter tags">
            </div>
            <button ng-show="poster.hideDrop" type="submit" ng-click="clickPost()" class="btn btn-success form-control">Submit</button>
        </form>
    </div>
</div>