<div class="row">
    <div class="col-xs-12" style="margin-bottom: 35px;">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12 text-center">
                <h2>Connect</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <button ng-click="panelCtrl.setPage('login')" class="btn form-control">Se connecter</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <button ng-click="panelCtrl.setPage('register')" class="btn form-control">S'enregistrer</button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8 text-center">
                <button class="btn btn-block btn-social btn-facebook" ng-click="panelCtrl.facebookLogin()">
                    <i class="fa fa-facebook"></i> Facebook Connect
                </button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-offset-2 col-xs-8">
                <button class="btn btn-block btn-social btn-twitter">
                    <i class="fa fa-twitter"></i> Sign in with Twitter
                </button>
            </div>
        </div>
    </div>
</div>
